@value makerGreen from '../../common/colors.css';

.editor {
  /* 반반 씩 나누기 위해 */
  flex-basis: 50%;
  border-right: 1px solid lightgrey;
  padding: 0.5em 2em;
  overflow-y: auto;
}

.title {
  color: makerGreen;
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
}
