.corona {
  flex-basis: 50%;
  overflow-y: auto;
}

.title {
  text-align: center;
  width: 100%;
  margin: 1rem 0;
}

.ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
