.items {
  display: flex;
  align-items: center;
  border-radius: 1em;
  margin-bottom: 0.5em;
  padding: 0.2em 0.5em;
  background-color: rgba(250, 235, 215, 0.5);
  max-width: 30rem;
  width: 100%;
  cursor: pointer;
}

.items:hover {
  transform: translateY(0.3em);
  box-shadow: 6px 6px 8px 0px;
}

.info {
  width: 100%;
}

.address,
.centerType,
.centerName,
.org,
.phoneNumber,
.sido,
.sigungu {
  margin: 0;
}
