@value makerShadow,makerColorful from '../../common/colors.css';

.card {
  display: flex;
  align-items: center;
  border-radius: 1em;
  margin-bottom: 0.5em;
  padding: 0.2em 0;
  background-color: yellow;
  box-shadow: 6px 6px 8px 0px makerShadow;
  max-width: 30rem;
}

.card.dark {
  background-color: darkgray;
  color: black;
}

.card.light {
  background-color: lightblue;
  color: black;
}

.card.colorful {
  background: lightcoral;
}

.avatar {
  width: 10em;
  height: 10em;
  padding: 1em;
  margin-left: 0.5em;
  margin-right: 1em;
  border-radius: 50%;
}
.info {
  width: 100%;
}
.name,
.company,
.title,
.message,
.email {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.2em;
}

.name {
  font-size: 1.2rem;
}
.company {
  margin-bottom: 2em;
}

.company::after {
  content: '';
  display: block;
  width: 90%;
  height: 2px;
  background-color: wheat;
  transform: translateY(0.5em);
}
