@value makerGreen,makerWhite,makerBlack from '../../common/colors.css';

.header {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  background-color: makerGreen;
  position: relative;
}
.ul {
  list-style: none;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.li {
  text-align: center;
  color: burlywood;
  cursor: pointer;
}
.li:hover {
  opacity: 0.8;
}
.li:nth-child(1) {
  margin-right: 1rem;
}
.li:nth-child(2) {
  margin-left: 1rem;
}
.logo {
  margin-left: 0.5em;
}

.title {
  color: makerWhite;
  margin: 0;
}

.logout {
  position: absolute;
  right: 3em;
  top: 1em;
  border-radius: 20%;
}

:root {
  --secondary: white;
}
