@value makerGreen,makerWhite,makerBlack from '../../common/colors.css';

.header {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  background-color: makerGreen;
  position: relative;
}
.ul {
  list-style: none;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.li {
  text-align: center;
  color: burlywood;
  cursor: pointer;
}
.li:hover {
  font-weight: bold;
}
.li:nth-child(1) {
  margin-right: 1rem;
}
.li:nth-child(2) {
  margin-left: 1rem;
}
.logo {
  margin-left: 0.5em;
}

.title {
  color: makerWhite;
  margin: 0;
}

.logout {
  position: absolute;
  right: 3em;
  top: 1em;
  border-radius: 20%;
}

.aws-btn {
  --button-default-height: 48px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 6px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 5px;
  --button-hover-pressure: 2;
  --transform-speed: 0.185s;
  --button-primary-color: #475472;
  --button-primary-color-dark: #2a3143;
  --button-primary-color-light: #d4d9e4;
  --button-primary-color-hover: #424e6a;
  --button-primary-border: none;
  --button-secondary-color: #fffc6c;
  --button-secondary-color-dark: #b9b500;
  --button-secondary-color-light: #6c6a00;
  --button-secondary-color-hover: #fffb3e;
  --button-secondary-border: none;
  --button-anchor-color: #f3c8ad;
  --button-anchor-color-dark: #734922;
  --button-anchor-color-light: #4c3016;
  --button-anchor-color-hover: #f1bfa0;
  --button-anchor-border: 1px solid #8c633c;
}
